@model CvProje1.Models.Education
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eğitim Bilgilerini Güncelleme</h2>

<form method="post">
    @Html.HiddenFor(x => x.EducationId)
    <label>Yıl</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Okul</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    <label>Bölüm</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.LongDescription, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Güncelle</button>
</form>